body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;position: relative;z-index: 10;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  display: block;position: relative;z-index: 10;overflow: hidden;cursor: pointer;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.btn-filter{
  padding: 10px;
  background-color: cornflowerblue;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;top:15px;
  left: 15%;
}

.detail-box{
  padding: 10px;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  -webkit-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -o-transition:opacity 0s;
  transition:opacity 0s;
  transform: translateY(-100%);
  z-index: 0;
}

.detail-box.visible-detail{position: relative;opacity: 1;transform: translateY(0);-webkit-transition:opacity .5s;
  -moz-transition:opacity .5s;
  -ms-transition:opacity .5s;
  -o-transition:opacity .5s;
  transition:opacity .5s;

}

.detail-box p{
  color: #555;
}

.detail-box div::before{
  color: #555;
}

.star-icon{
  color: #e6d820;font-size: 15px;
  margin-right: 5px;
}

.text-icon{
  color: #5c5e55;font-size: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .tabel{
    width: 70%;
    margin: 0 auto;
  }
}

